<div id="background">
	<header class="cf">
    <div class="wrapper_wide">
  		<a href="index.html" id="logo">MY-outube</a>
    <nav>
      <ul>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Upload video</a></li>
      </ul>
    </nav>
    </div>  
	</header>
  <div class="wrapper_skinny">
    <h1>Welcome to your favourite <br> video webpage</h1>
    <a href="#" class="button button-highlight">Upload video</a>
    <a href="#" class="button button-highlight">Videos</a>
  </div>  
</div>